
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>About Sam</title>

		<link rel="stylesheet" href="css/style.css">
	</head>

	<body>



<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
<img src="/me.jpeg" alt="Diederik ter Kuile" />
      <div class="caption">
        <h3>GROWTH HACKING TIPS FOR PEER 2 PEER PLATFORMS</h3>
        <p>During my time at SnappCar, the Airbnb for cars, I learned that ...</p>
        <p><a href="#" class="btn btn-primary" role="button">Yes read me!</a> </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
<img src="/you.png" alt="Diederik ter Kuile" />
      <div class="caption">
        <h3>GROWTH HACKING TIPS FOR PEER 2 PEER PLATFORMS</h3>
        <p>During my time at SnappCar, the Airbnb for cars, I learned that ...</p>
        <p><a href="#" class="btn btn-primary" role="button">Yes read me!</a> </p>
      </div>
    </div>
  </div>
</div>

	</body>
</html>